{% extends 'base.html' %}

{% load filters %}
{% load staticfiles %}
{% block title %}
    Обзор
{% endblock %}
{% block menu %}
    {% if perms.webapp.change_product %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:edit product' product.pk %}">Редактировать товар</a>
        </li>
    {% endif %}
    {% if perms.webapp.delete_product %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'webapp:delete product' product.pk %}">Удалить товар</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <section class="d-flex flex-column">
        <h1 class="text-center">Обзор товара</h1>
        <div class="align-self-center w-100">
            <h2>{{ product.name }}</h2>
            {% if product.image %}
                <img src="{{ product.image.url }}"  class="w-25 h-25" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/product_default.jpeg' %}"  class="w-25 h-25" alt="{{ product.name }}">
            {% endif %}
            <h3>{{ product.get_category_display }}</h3>
            <h4>Средняя оценка:</h4>
                {% if product.average %}
                    <div class="position-relative">
                        {% for i in product.average.wholes|times %}
                            <div class="d-inline-block" style="overflow: hidden; position: relative; display: inline-block;">
                                <i class="fas fa-star" style="position: relative"></i>
                            </div>

                        {% endfor %}
                        {% if product.average.decimal %}
                            <div class = "d-inline-block" style="overflow: hidden; position: relative; display: inline-block; right: {{ product.average.shift }}px">
                                <i class="fas fa-star" style="position: relative; left: {{ product.average.decimal }}%;"></i>
                            </div>
                        {% endif %}
                        ({{ product.average.average }})
                    </div>

                {% else %}
                    Пока нет оценок
                {% endif %}
            <p>{{ product.description|linebreaks|escape}}</p>

            <ul class="list-group">
                <li class="list-group-item">Оценки пользователей</li>
                {% if product.reviews %}
                    {% for review in product.reviews.all %}
                        <li class="list-group-item d-flex flex-column">
                            <div class="row pl-3">
                                <h6><strong><a href="{% url 'accounts:user detailed' review.author.pk %}">{{ review.author.username }} / {{ review.author.email }}</a></strong></h6>
                                <p class="mr-5 ml-auto mb-0">
                                    {% for i in review.rating|times %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                </p>
                            </div>
                            <p class="mb-0">{{ review.review }}</p>
                            {% if user == review.author or perms.accounts.change_review%}
                                <div class="btn-group btn-group-sm w-25 ml-auto" role="group">
                                    <a class="btn btn-primary" href="{% url 'accounts:edit review' review.pk %}">Редактировать</a>
                                    <a class="btn btn-danger" href="{% url 'accounts:delete review' review.pk %}">Удалить</a>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">Отзывов пока нет</li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="list-group-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewAddModal">
                            Добавить отзыв
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </section>
    {% include 'partial/modal_review_add.html' %}
{% endblock %}



