{% extends 'base.html' %}

{% load filters %}
{% load staticfiles %}
{% block title %}
    Обзор
{% endblock %}
{% block menu %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:edit product' product.pk %}">Редактировать товар</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:delete product' product.pk %}">Удалить товар</a>
    </li>
{% endblock %}
{% block content %}
    <section class="d-flex flex-column">
        <h1 class="text-center">Обзор товара</h1>
        <div class="align-self-center w-100">
            <h2>{{ product.name }}</h2>
            {% if product.image %}
                <img src="{{ product.image.url }}"  class="w-25 h-25" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/product_default.jpeg' %}"  class="w-25 h-25" alt="{{ product.name }}">
            {% endif %}
            <h3>{{ product.get_category_display }}</h3>
            <h4>Средняя оценка:
                {% if product.average %}
                    {{ product.average }}
                {% else %}
                    Пока нет оценок
                {% endif %}
            </h4>
            <p>{{ product.description }}</p>

            <ul class="list-group">
                <li class="list-group-item">Оценки пользователей</li>
                {% if product.reviews %}
                    {% for review in product.reviews.all %}
                        <li class="list-group-item d-flex flex-column">
                            <h6><strong><a href="{% url 'accounts:user detailed' review.author.pk %}">{{ review.author.username }} / {{ review.author.email }}</a></strong></h6>
                            <div class="row pl-3">
                                <p class="mb-0">{{ review.review }}</p>
                                <p class="mr-5 ml-auto mb-0">
                                    {% for i in review.rating|times %}
                                        <i class="fas fa-star"></i>
                                    {% endfor %}
                                </p>
                                <div class="btn-group btn-group-sm" role="group">
                                    <a class="btn btn-primary" href="{% url 'accounts:edit review' review.pk %}">Редактировать</a>
                                    <a class="btn btn-danger" href="{% url 'accounts:delete review' review.pk %}">Удалить</a>
                                </div>
                            </div>

                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">Отзывов пока нет</li>
                {% endif %}
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewAddModal">
                        Добавить отзыв
                    </button>
                </li>
            </ul>
        </div>
    </section>
    {% include 'partial/modal_review_add.html' %}
{% endblock %}



